.footer {
    & {
      height: 35vh;

      @media (max-width: 820px) {
        height: 20vh !important; 
        // border: 2px solid violet;
      }
    }

    &__category {
      width: 100%;
    }

    &__logo {
      @media (max-width: 820px) {
        width: 15rem;
        height: 5rem;
        // border: 2px solid green;
        height: 15vh;
      }
    }

    &__navigation {
      
      &-list {

          & li {
            width: 10rem !important;
            text-align: center;

            @media (max-width: 820px) {
              width: 10rem !important;
            }
          }
         
          & li a {
            text-decoration: none;
            color: $color-white;
            font-size: $small-font-size;
            font-weight: $light-weight;

            @media (max-width: 820px) {
              color: 1rem;
            }

            &:hover {
              color: $color-tertiary;
            }
            
            &:hover::before {
              content: "< ";
              color: $color-tertiary;
              transition: all 0.2s;
              font-weight: $default-weight;
            }
      
            &:hover::after {
              content: " >";
              color: $color-tertiary;
              transition: all 0.2s;
              font-weight: $default-weight;
            }

        }

    }

    &-icons {
      li a{
        color: $color-white;
        font-size: 2.5rem;
      }

      li a:hover {
        color: $color-tertiary;
      }
    }

  }


  &__navigation-message {
    border-top: 1px solid $color-white;
    color: $color-white;
    font-size: $small-font-size;
    font-weight: $light-weight;

    @media (max-width: 820px) {
      font-size: 1rem;
    }
  }

}