.navigation {
    &{
     font-size: $default-font-size;      
    }

    &__btn {
      display: none;

          @media (max-width: 544px) {
            display: block !important;
        }
      &-togle {
        display: none;
          @media (max-width: 544px) {
            display: block !important;
            border: none;
            outline: none;
        }
      }

    }

    &__logo{ 
      width: 18rem;
      height: 5rem;

      @media (max-width: 820px) {
        width: 10rem;
        height: 3rem;
      }

      @media (max-width: 544px) {
        display: none !important;
     }

    }

    &__list{
      @media (max-width: 544px) {
        display: none !important;
     }
    }

    &__icons {
      @media (max-width: 544px) {
        display: none !important;
     }

      li a{
        color: $color-white;
      }

      li a:hover {
        color: $color-tertiary;
      }
      
    }

    &__logo1{ 
      width: 15rem !important;
      height: 4rem !important;

      @media (max-width: 820px) {
        width: 10rem;
        height: 4rem;
      }

    }

    &__list li {
      width: 10rem !important;
      text-align: center;

      @media (max-width: 820px) {
        width: 8rem !important;
        text-align: center;
    }

  }
  
    &__list li a {
      text-decoration: none;
      color: $color-white;
      font-size: $small-font-size;
      font-weight: $light-weight;

      &:hover {
        color: $color-tertiary;
      }
      
      &:hover::before {
        content: "< ";
        color: $color-tertiary;
        transition: all 0.2s;
        font-weight: $default-weight;
      }

      &:hover::after {
        content: " >";
        color: $color-tertiary;
        transition: all 0.2s;
        font-weight: $default-weight;
      }
    

  }
  
  

}