.contact {

  &__showcase {
    background-color: $color-tertiary;
    border-radius: 2rem;
    color: $color-white;
    display: block;
  }

  &__details {
    /*   border: 2px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include respond(tab-port) {
   /*    border: 2px solid red;   */
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }

  &__information {
    /*   border: yellow 2px solid; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    @include respond(tab-port) {
/*       border: 2px solid red;   */
      align-items: flex-start;
      width: 100%;
     }


    @include respond(phone) {
      align-items: center;
      gap: 3rem;
    }
  }

  &__icon {
    font-size: 4rem;
    margin-bottom: 1rem
  }

  &__email, &__phone, &__chat {
    background-image: linear-gradient(
      to right,
      #55c57a,
      #7ed65f
    );
    color:#000;
    width: 75%;
    padding: 1.3rem 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .5s ;

    @include respond(tab-port) {
      /*  border: 2px solid red;  */
      width: 98%;
     }
  }

  &__email:hover, &__phone:hover, &__chat:hover {
    box-shadow: inset 0 1em 3em rgba(0, 0, 0, 0.1),
    0 0 0 0px hsla(210, 2%, 17%, 0.541), 0.3em 3em 7em rgba(0, 0, 0, 0.3);
  }

  &__form {
    /*   border: 2px solid blue; */
    display: flex;
    align-items: center;

    @include respond(tab-port) {
  /*     border: 2px solid red;  */
      justify-content: flex-end;
     }

    @include respond(phone) {
      justify-content: center;
      width: 100%;
     }


      &-style {
        width: 80%;
        background-color: #212123;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5rem;

        @include respond(tab-port) {
          /*  border: 2px solid red;  */
          width: 97%;
         }

         @include respond(phone) {
/*           border: 2px solid red; */
          width: 98%;
          padding: 4rem;
        }
      }

      &-inputBox {
        border: 2px solid #40c057;
        margin-bottom: 3rem;
        text-align: center;
        border-radius: 10px;

        &--input {
          width: 90%;
          height: 4.5rem;
          font-size: 1.4rem;
          background-color: transparent;
          border: none;
          outline: none;
          color:#e9ecef;

          
        }
      }

      &-textArea {
        border: 2px solid #40c057;
        text-align: center;
        border-radius: 10px;

        &--area {
          height: 26rem;
          width: 90%;
          padding-top: 1.5rem;
          background-color: transparent;
          border: none;
          outline: none;
          font-size: 1.6rem;
          color:#e9ecef;
        }
      }
  }




}