@import "../abstract/variable";
@import "../base/utilities";

.experience {
  background-color: $color-tertiary;
  border-radius: 2rem;
  color: $color-white;
  display: block;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 0 3rem 0;    

    @include respond(phone) {
      width: 100%;
      grid-template-columns: 1fr;
    }
  }

  &__skill {
  /*   border: 2px solid #fff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    &-list {
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.7;
      letter-spacing: 1.2px;
    }

    &-design {
     /*  border: 2px solid red; */
      width: 85%;
      height: 21rem;
      background-color: $color-secondary;
      padding: 1rem 2rem;
      border-radius: 20px;
      transition: all .5s ease-in;
    }

    &-frontEnd {
      /*  border: 2px solid red; */
      width: 85%;
      height: 21rem;
      background-color: $color-secondary;
      padding: 1rem 2rem;
      border-radius: 20px;
      transition: all .5s ease-in;  transition: all .5s ease-in
    }

    &-backEnd {
      /*  border: 2px solid red; */
      width: 85%;
      height: 21rem;
      background-color: $color-secondary;
      padding: 1rem 2rem;
      border-radius: 20px;
      transition: all .5s ease-in;  transition: all .5s ease-in
    }
    &-design:hover,
    &-frontEnd:hover,
    &-backEnd:hover  {
      box-shadow: inset 0 1em 3em rgba(0, 0, 0, 0.1),
      0 0 0 0px hsla(210, 2%, 17%, 0.541), 0.3em 3em 7em rgba(0, 0, 0, 0.3);
    }
  }


  &__aboutMe {
   /*  border: 2px solid #fff; */
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
    @include respond(phone) {
      width: 90%;
      margin: auto;
      margin-top: 5rem;
    }
  }


}