@import "../abstract/variable";
@import "../base/utilities";

.project {

   &__showcase {
/*      border: 2px solid #fff;  */
     display: grid;
     grid-template-columns: 1fr 1fr;
     padding: 2rem 7rem; 

     @include respond(phone) {
      grid-template-columns: 1fr;
      padding: 2rem 5rem; 
    }
   }

   &__list{
/*       border: 2px solid #fff; */
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      justify-content: space-around;

      @include respond(tab-port) {
         grid-template-columns: 1fr 1fr;
       }

       @include respond(phone) {   
         grid-template-columns: 1fr;
         padding-left: 5rem;
       }

      &-first,
      &-second,
      &-third {
         background-color: #212123;
         width: 85%;
         padding: 2rem 1rem 2.8rem 1rem;
         border-radius: 25px;
         transition: all .5s ease-out;
         
      @include respond(tab-port) {
         padding: 3rem 1rem 3.8rem 1rem;
         margin-top: 5rem;
       }
      }

      &-first:hover,
      &-second:hover,
      &-third:hover {
         box-shadow: inset 0 1em 3em rgba(0, 0, 0, 0.1),
         0 0 0 0px hsla(210, 2%, 17%, 0.541), 0.3em 3em 7em rgba(0, 0, 0, 0.3);
      }

      &-img {
         width: 31rem;
   /*       height: 22rem; */
         border-radius: 10px;
         display:block;
         margin: auto;

         @include respond(phone) {
            width: 100%;
            grid-template-columns: 1fr;
         /*    border: 2px solid red; */
          }
      }

      &-btn1,&-btn2 {
         padding: 1.2rem 2rem 1.2rem 2rem;
         font-size: 1.4rem;
         font-weight: 500;
         border-radius: 10px;
         margin-top: 2.5rem;
         border: none;  
         text-decoration: none;
       
      }

      &-btn1 {
         margin-left: 3rem;
         background-color: transparent;
         outline:#40c057 2px solid;
         color: #40c057;
         transition: all .5s ease-out;
      }

      &-btn2 {
         margin-left: 1.5rem;
         background-color: #40c057;
         color: #212123;
         transition: all .5s ease-out;
       }

       &-btn1:hover {
         color: #40c057;
       }

       &-btn2:hover {
         color: #212123;
       }
   }
}