.heading{

  &__primary {
    font-size: 3.6rem;
    letter-spacing: 1.2px;
    line-height: 1;
    font-weight: 600;
    color: $color-white;
  }

  &__secondary {
    font-size: 2.4rem;
    letter-spacing: 1.2px;
    line-height: 1;
    font-weight: 400;
    color: $color-white;
  }

  &__tertiary {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 1.3px;
    color: $color-green-secondary;  
  }

  &__quarterly {
    background-image: linear-gradient( to right, #55c57a, #7ed65f );
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    color: transparent;
    text-align: left;
    word-spacing: 5px;
    margin-bottom: 2rem;

  }

  &__quinary {
    font-size: 1.4em;
    letter-spacing: 1.6px;
    line-height: 1.5;
    width: 90%;
    color: $color-white;
  }

    &__quinary {
    font-size: 1.4em;
    letter-spacing: 1.6px;
    line-height: 1.5;
    width: 90%;
    font-weight: 400;
    color: $color-white;
  }

  &__senary {
    font-size: 1.2em;
    line-height: 1.5;
    width: 90%;
    color: $color-white;
  }

  &_septenery {
    
  }

  &__icons {
    font-size: 2rem;
    color: $color-green-secondary;
  }

  &__small-intro {
    text-transform: uppercase;
  }

  &__italic {
    font-size: 1.8rem;
    letter-spacing: .5px;
    font-style: italic;
  }

  &__paragraph {
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 1.2px;
    font-weight: 400;
    color: $color-white-secondary;
  }

  &__customGreen {
    font-size: 2rem;
    color: #40c057;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 0.9;
    margin-top: 1rem;
    margin-left: 3rem;
  }

}

.span {

   &__primary {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.7;
      letter-spacing: 1.1px;
   }

   &__secondary {
      font-size: 1.4rem;
      line-height: 1.5;
      letter-spacing: 1.1px;
      color: $color-white;
   }

   &__tertiary {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 1.1px;
   }

   &__quarterly {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.7;
    letter-spacing: 1.1px;
    color: $color-white;
  }
}

.anchor {
  &__primary {
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 10px;
    color: #000;
    transition: 0.5s ease-out;
  }

  &__primary:hover {
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    transition: 0.5s ease-out;
  }

  &__secondary {
    font-size: 2rem;
    text-decoration: none;
    color: #55c57a;
    transition: all .5s ease-out;
  }

  &__secondary:hover {
    color: #55c57a;
  }
  
  &__icons {
    text-decoration: none;
    font-size: 2.3rem;
    color: $color-white;
  }

  &__icons:hover {
    color: $color-green-primary;
    transition: all .2s ease-in-out;
  }

}
