.section-landing {
  height: calc(100vh - 13vh);
  width: 100%;

  @media (max-width: 820px) {
    height: 40vh !important;
  }
}

.section-showcase {
  height: 100vh !important;
  background-color: #212123;

}

.section-project {
  height: 100vh !important;
  @media (max-width: 820px) {
    height: 60vh !important; 
  }
}

.section-contact {
  height: 100vh !important;
  background-color: #212123;

  @media (max-width: 820px) {
    height: 60vh !important; 
  }
}

.section-footer {
  height: 50vh !important;

  @media (max-width: 820px) {
    height: 20vh !important; 
  }
}